.form{
    margin-top: 15%;
    
}

.note
{
    text-align: center;
    height: auto;
    background: #272727;
    color: #fff;
    font-weight: bold;
    line-height: 80px;
}

.form-content
{
    padding: 5%;
    border: 1px solid #ced4da;
    margin-bottom: 2%;
}
.form-control{
    border-radius:1.5rem;
}

.btn-primary{
    background-color: #1822DC;
    margin-bottom: 10px;
    border-radius: 0.0rem 
}

.campo_erros {
	font-size: 9pt;
	color: rgb(247, 7, 7);
}