.form{
    margin-top: 15%;
    
}

.note
{
    text-align: center;
    height: auto;
    background: #272727;
    color: #fff;
    font-weight: bold;
    line-height: 80px;
}

.form-content
{
    padding: 5%;
    border: 1px solid #ced4da;
    margin-bottom: 2%;
}
.form-control{
    border-radius:1.5rem;
}

.btn-danger{
margin-left: 80%;
}

.card{
    width: 300px;
}

.card-body{
    width: 280px !important;
    border:1px rgb(212, 210, 210) solid;
    border-radius: 0.3rem;
}

.pop{
    border:1px rgb(212, 210, 210) solid;
    border-radius:0.3rem;
    margin-top: 10px;
    padding: 8px;
}

.btn-primary{
    background-color: #1822DC;
    margin-top: 8px;
    margin-bottom: 8px;
}

.btn-danger{
    margin-top: 8px;
    margin-bottom: 8px;
}